*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    color: orangered;
}



/* FIVE DAY FORCE */
div.col img {
width: 100px;
height: 100px;
}

div.card {
border: 2px solid gray;
display: flex;
position: relative;
top: 80px;
left: 60px;
flex-wrap: wrap;
}

#currentWeather{
position: relative;
top: 5px;
left: 100px;
border: none;

}

#search.btn {
    position: relative;
    top: 4px;
    width: 202px;
} 

    







