
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    background-color: lightgrey;
    display: inline-flexbox;
        
}

h3{
    display: inline-flex;
    text-align: start;
    position: absolute;
}

input{
    display: inline-flex;
    position: absolute;
    top: 127px;
}

button{
    display: inline-flex;
    position: absolute;
    top: 160px;
    
}

/* Header */
header {
    text-align: center;
    background-color: royalblue;

}

#currentWeather.card{
    display: inline-flex;
    position: absolute;
    top: 70px;
    left: 400px;


}

div.card {
    flex-direction: column;
    width: 150px;
    display: inline-flex;
    position: absolute;
    top: 400px;
    background-color: gray;    
}
    



/* 1 to 2
.uvLow{
    color:green;
    
}

/* 3 to 5 */
/* .uvMod {
    color: orange;
    font-style: bold;
} */

/* 6 to 7 */
/* .uvHigh{
    color: orangered;
    font-style: bold;
} */

/* 8 to 10 */
/* .uvVeryHigh{
    color: red;
    font-style: bold;
} */

/*11+*/
/* .uvExtreme{
    color: purple;
    font-style: bold;
} */ */




